{% load static %}
<div class="container-fluid py-5">
        <div class="container">
            {% for i in about%}
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="{{media_url}}{{ i.about_img1 }}" alt="">
                </div>

                <div class="col-lg-7">
                    <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                    <h1 class="mb-4">{{i.title}}</h1>
                    <p>{{i.about_detail}}</p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="{{media_url}}{{ i.about_img2 }}" alt="">
                        </div>
                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                {% if i.points_1 %}
                                <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_1}}</li>
                                {% endif %}
                                {% if i.points_2 %}
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_2}}</li>
                                {% endif %}
                                {% if i.points_3 %}
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_3}}</li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>