<div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                 {% for i in about%}
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <p class="section-title pr-5"><span class="pr-2">Book A Seat</span></p>
                    <h1 class="mb-4">{{i.title}}</h1>
                    <p>{{i.about_detail}}</p>
                    <ul class="list-inline m-0">
                         {% if i.points_1 %}
                                <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_1}}</li>
                                {% endif %}
                                {% if i.points_2 %}
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_2}}</li>
                                {% endif %}
                                {% if i.points_3 %}
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>{{i.points_3}}</li>
                            {% endif %}</ul>
                    <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>
                </div>
                {% endfor  %}
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-secondary text-center p-4">
                            <h1 class="text-white m-0" id="Book_A_Seat" >Book A Seat</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form action="/booking" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4"  name='name' placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" name='email' placeholder="Your Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="phone" class="form-control border-0 p-4" name='phone' placeholder="Your phone number" required="required" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4" style="height: 47px;" name='class_name'>
                                        <option selected>Select A Class</option>
                                        {% for i in classes %}
                                        <option value="{{i.class_name}}">{{i.class_name}}</option>

                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>